<a href="https://colab.research.google.com/github/NurusSafaah/Insight-Learning/blob/main/Insight_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
users = pd.read_excel('https://docs.google.com/spreadsheets/d/1KZQ-dMRtaaz5LYc4BP8gmSfq3EjCDL2H/export?format=xlsx')
exam_result = pd.read_excel('https://docs.google.com/spreadsheets/d/1iEH__ViHfivigP850xBaDfP_uwyEYilN/export?format=xlsx')
exam_regis = pd.read_excel('https://docs.google.com/spreadsheets/d/1fdX6vbFbrfqj4W44GlqouO1YQOgpm-Sk/export?format=xlsx')
dev_jour = pd.read_excel('https://docs.google.com/spreadsheets/d/1Z9Avc3BqV16Q_uFAuL3NvAnww_4aXGD2/export?format=xlsx')
dev_jour_track = pd.read_excel('https://docs.google.com/spreadsheets/d/1LgHYDWxR-op4xPORxrV522366NaLvMKm/export?format=xlsx')
dev_jour_sub = pd.read_excel('https://docs.google.com/spreadsheets/d/1hkyXmoDWVmZpAG0HwWQnJ4vEETzVdrA7/export?format=xlsx')
dev_jour_complet = pd.read_excel('https://docs.google.com/spreadsheets/d/1qFZd9vyoxIWPyCsqTcfKcNNx3bgGfV0H/export?format=xlsx')
dev_jour_tutor = pd.read_excel('https://docs.google.com/spreadsheets/d/1FX1HeZJQWwB66_JMZH2ZdKOIdRd8UvWu/export?format=xlsx')


files = [
    ('users', users),
    ('exam_result', exam_result),
    ('exam_regis', exam_regis),
    ('dev_jour', dev_jour),
    ('dev_jour_track', dev_jour_track),
    ('dev_jour_sub', dev_jour_sub),
    ('dev_jour_complet', dev_jour_complet),
    ('dev_jour_tutor', dev_jour_tutor)
]
files_copy = files.copy()

for name, df in files_copy:
    print(f"\n=== {name} ===")
    print(df.head(3))
    print(df.columns)

=== users ===
          id  display_name                    name                   email  \
0    96989.0      igihcksn        Inggih Wicaksono      igihcksn@gmail.com
1   938276.0  nurrizkiadip  Nur Rizki Adi Prasetyo     nrizki@dicoding.com
2  5021477.0   rifath_2SXp                  rifath  rifathali088@gmail.com

          phone  user_role  user_verification_status          created_at  \
0  6.281271e+12        2.0                       1.0 2017-04-03 19:16:35
1  6.287795e+12        2.0                       1.0 2020-05-28 20:13:50
2  6.289662e+12        2.0                       1.0 2025-05-26 14:14:10

           updated_at  deleted_at  ... city_id custom_city  \
0 2025-04-28 11:54:11         NaN  ...   428.0         NaN
1 2025-10-16 10:06:43         NaN  ...    33.0         NaN
2 2025-10-08 13:17:19         NaN  ...    22.0         NaN

                           unsubscribe_link            tz         verified_at  \
0  b6b33e749120c67873d2470c6f0abe4627d9573f  Asia/Jakarta 2017-04-03 19:23:52
1  0888bc0f357545b41634c2d0adca935bed2599aa  Asia/Jakarta 2025-10-16 10:03:27
2  ffb597629e05b0d103b2e1b8e2d1b353bfc924be  Asia/Jakarta 2025-05-26 14:21:58

   ama phone_verification_status phone_verified_with  \
0  0.0                       0.0                 sms
1  0.0                       0.0                 sms
2  0.0                       0.0                 NaN

     verified_certificate_name                      verified_identity_document
0             Inggih Wicaksono  202007231120540eb16d37ba8ca22d366c570b0fffd4d3
1       Nur Rizki Adi Prasetyo  20200720155419385a0bfe7b87200f1542a6e0e5be6d1a
2  muhammad rifath ali raharjo                                             NaN

[3 rows x 23 columns]
Index(['id', 'display_name', 'name', 'email', 'phone', 'user_role',
       'user_verification_status', 'created_at', 'updated_at', 'deleted_at',
       'remember_token', 'image_path', 'city', 'city_id', 'custom_city',
       'unsubscribe_link', 'tz', 'verified_at', 'ama',
       'phone_verification_status', 'phone_verified_with',
       'verified_certificate_name', 'verified_identity_document'],
      dtype='object')

=== exam_result ===
      id  exam_registration_id  total_questions  score  is_passed  \
0  42762                 42482               25     68          0
1  45652                 45362               25     68          0
2  61017                 60627               25     80          1

           created_at      look_report_at
0 2020-04-14 08:57:50 2020-04-19 19:12:25
1 2020-04-14 23:36:31 2020-04-19 19:12:13
2 2020-04-19 19:32:53 2020-04-19 19:32:55
Index(['id', 'exam_registration_id', 'total_questions', 'score', 'is_passed',
       'created_at', 'look_report_at'],
      dtype='object')

=== exam_regis ===
      id  exam_module_id  tutorial_id  examinees_id  status  \
0  42482              16         7444         96989       2
1  45362              16         7444         96989       2
2  60627              16         7444         96989       2

           created_at          updated_at         deadline_at  \
0 2020-04-14 08:45:03 2020-04-14 23:24:20 2020-04-14 09:15:03
1 2020-04-14 23:24:20 2020-04-19 19:13:48 2020-04-14 23:54:20
2 2020-04-19 19:13:48 2020-04-19 19:13:48 2020-04-19 19:43:48

      retake_limit_at    exam_finished_at          deleted_at
0 2020-04-14 14:47:50 2020-04-14 08:57:50 2020-04-14 23:24:20
1 2020-04-15 05:26:31 2020-04-14 23:36:31 2020-04-19 19:13:48
2 2020-04-20 01:22:53 2020-04-19 19:32:53                 NaT
Index(['id', 'exam_module_id', 'tutorial_id', 'examinees_id', 'status',
       'created_at', 'updated_at', 'deadline_at', 'retake_limit_at',
       'exam_finished_at', 'deleted_at'],
      dtype='object')

=== dev_jour ===
   id                                           name  \
0  14           Belajar Fundamental Aplikasi Android
1  51  Belajar Membuat Aplikasi Android untuk Pemula
2  80              Memulai Pemrograman dengan Kotlin

                                             summary  point  required_point  \
0  Pelajari skill Android dengan kurikulum terlen...      0            4249
1  Buat aplikasi pertamamu pada Android Studio de...      0             679
2  Pelajari dasar bahasa pemrograman, functional ...      0             879

     xp  required_xp  difficulty  \
0  2200            0           2
1   400            0           1
2   400            0           0

                                          image_path  status  ...  discount  \
0  belajar_fundamental_aplikasi_android_image_171...       1  ...         0
1  belajar_membuat_aplikasi_android_untuk_pemula_...       1  ...         0
2  memulai_pemrograman_dengan_kotlin_image_171120...       1  ...         0

     discount_ends_at                                        media_cover  \
0 2018-04-18 23:59:00  belajar_fundamental_aplikasi_android_mc_230421...
1 2017-09-06 00:00:00  belajar_membuat_aplikasi_android_untuk_pemula_...
2                 NaT  memulai_pemrograman_dengan_kotlin_mc_230421143...

  installment_plan_id graduation  position  hours_to_study  video_subtitle  \
0                24.0          1      73.0             140             NaN
1                 NaN          1      70.0              60             NaN
2                 NaN          1      67.0              50             NaN

                                        partner_logo  \
0  dos:belajar_fundamental_aplikasi_android_partn...
1  dos:belajar_membuat_aplikasi_android_untuk_pem...
2  dos:memulai_pemrograman_dengan_kotlin_partner_...

                                    teaching_methods
0  <h6 class="text-gray-700 font-weight-500" styl...
1  <h6 class="text-gray-700 font-weight-500" styl...
2  <h6 class="text-gray-700 font-weight-500" styl...

[3 rows x 33 columns]
Index(['id', 'name', 'summary', 'point', 'required_point', 'xp', 'required_xp',
       'difficulty', 'image_path', 'status', 'listed', 'created_at',
       'updated_at', 'description', 'logo_path', 'banner_path', 'platform_id',
       'instructor_id', 'reviewer_id', 'deadline', 'trial_deadline',
       'reviewer_incentive', 'type', 'discount', 'discount_ends_at',
       'media_cover', 'installment_plan_id', 'graduation', 'position',
       'hours_to_study', 'video_subtitle', 'partner_logo', 'teaching_methods'],
      dtype='object')

=== dev_jour_track ===
        id  journey_id  tutorial_id  developer_id  status         last_viewed  \
0   266063          26          599         96989       1 2017-05-26 21:34:02
1   362382          26          602         96989       0 2017-05-26 21:35:05
2  2313738          32         1152         96989       1 2020-04-08 20:59:59

      first_opened_at completed_at developer_journey_status_hash
0                 NaT          NaT                    0xA3461ABA
1                 NaT          NaT                    0x96D6776A
2 2018-08-29 11:19:41          NaT                    0x9926AAB1
Index(['id', 'journey_id', 'tutorial_id', 'developer_id', 'status',
       'last_viewed', 'first_opened_at', 'completed_at',
       'developer_journey_status_hash'],
      dtype='object')

=== dev_jour_sub ===
       id  journey_id  quiz_id  submitter_id  version_id  \
0  105013          32      770         96989      6809.0
1  118042          72     2204         96989      6845.0
2  118855          72     2207         96989      6848.0

                                            app_link  \
0  https://dicodingacademy.blob.core.windows.net/...
1  https://dicodingacademy.blob.core.windows.net/...
2  https://dicodingacademy.blob.core.windows.net/...

                                         app_comment  status  \
0  <p>Bang Kumis adalah bot yang dapat di gunakan...       1
1  <p>Bang Kumis adalah bot yang nantinya akan me...       1
2                                                NaN       1

   as_trial_subscriber          created_at  ...  \
0                    0 2018-09-02 17:26:18  ...
1                    0 2018-10-04 22:59:34  ...
2                    0 2018-10-06 23:37:27  ...

                                       admin_comment reviewer_id  \
0                                                NaN      1295.0
1  <p>Selamat Anda telah menyelesaikan tugas Subm...    160797.0
2  <p style="">Selamat Anda telah menyelesaikan t...    160797.0

   current_reviewer   started_review_at     ended_review_at rating  note  \
0               NaN 2018-09-02 22:19:46 2018-09-02 22:20:01      4   NaN
1               NaN 2018-10-05 00:02:56 2018-10-05 00:03:28      3   NaN
2               NaN 2018-10-07 12:09:16 2018-10-07 12:11:13      2   NaN

  first_opened_at  submission_duration  pass_auto_checker
0             NaN                    0                NaN
1             NaN                    0                NaN
2             NaN                    0                NaN

[3 rows x 21 columns]
Index(['id', 'journey_id', 'quiz_id', 'submitter_id', 'version_id', 'app_link',
       'app_comment', 'status', 'as_trial_subscriber', 'created_at',
       'updated_at', 'admin_comment', 'reviewer_id', 'current_reviewer',
       'started_review_at', 'ended_review_at', 'rating', 'note',
       'first_opened_at', 'submission_duration', 'pass_auto_checker'],
      dtype='object')

=== dev_jour_complet ===
       id  user_id  journey_id          created_at          updated_at  \
0  104582    96989          32 2020-04-11 14:39:11 2020-04-11 14:39:11
1   30951    96989          51 2019-08-10 02:42:35 2019-08-10 02:42:35
2   74313    96989          74 2019-12-23 06:22:02 2019-12-23 06:22:02

   enrolling_times                                     enrollments_at  \
0                3  2018-08-29 11:19:45,2019-02-05 09:20:57,2020-0...
1                1                                2019-06-20 21:01:59
2                2            2019-10-29 09:34:40,2019-10-31 09:38:30

     last_enrolled_at  study_duration  avg_submission_rating
0 2020-02-26 17:05:28              44                   4.50
1 2019-06-20 21:01:59              50                   3.00
2 2019-10-31 09:38:30              52                   2.67
Index(['id', 'user_id', 'journey_id', 'created_at', 'updated_at',
       'enrolling_times', 'enrollments_at', 'last_enrolled_at',
       'study_duration', 'avg_submission_rating'],
      dtype='object')

=== dev_jour_tutor ===
     id  developer_journey_id                      title     type  \
0  4916                   123      Persetujuan Hak Cipta  article
1  4099                   123           Pengenalan Kelas  article
2  4101                   123  Pengantar Web Programming  article

                                             content requirements  \
0  <div align="left" dir="ltr"><table class="tabl...          NaN
1  <h2 dir="ltr">Pengenalan Kelas</h2><p><span cl...         4916
2  <h2 dir="ltr">Pengantar Web Programming</h2><p...        10644

   submit_only_requirements  position  status          created_at  \
0                       NaN         1       1 2019-08-08 11:20:54
1                       NaN         2       1 2019-04-24 11:55:51
2                       NaN         9       1 2019-04-24 11:56:50

           updated_at  trial  author_id  is_main_module
0 2025-02-21 14:30:02      1        NaN               0
1 2025-02-21 14:30:01      1        NaN               0
2 2025-02-21 14:30:01      1        NaN               0
Index(['id', 'developer_journey_id', 'title', 'type', 'content',
       'requirements', 'submit_only_requirements', 'position', 'status',
       'created_at', 'updated_at', 'trial', 'author_id', 'is_main_module'],
      dtype='object')

In [ ]:
# Ganti nama kolom ID di Users agar sesuai dengan FK
users.rename(columns={'id': 'user_id'}, inplace=True)

# Ganti nama kolom submitter_id di submissions
dev_jour_sub.rename(columns={'submitter_id': 'user_id'}, inplace=True)

# Ganti nama kolom developer_id di trackings
dev_jour_track.rename(columns={'developer_id': 'user_id'}, inplace=True)

# Ganti nama kolom examinees_id di exam_regis
exam_regis.rename(columns={'examinees_id': 'user_id'}, inplace=True)

# Ganti nama kolom developer_journey_id di tutorials
dev_jour_tutor.rename(columns={'developer_journey_id': 'journey_id'}, inplace=True)

print("✅ Penamaan ulang kolom kunci selesai.")
for name, df in files_copy:
    print(f"\n=== {name} ===")
    print(df.info)
    print(df.columns)

✅ Penamaan ulang kolom kunci selesai.

=== users ===
<bound method DataFrame.info of       user_id               display_name                    name  \
0     96989.0                   igihcksn        Inggih Wicaksono
1    938276.0               nurrizkiadip  Nur Rizki Adi Prasetyo
2   5021477.0                rifath_2SXp                  rifath
3   5044844.0           ledis_idola_h8Ge             LEDIS IDOLA
4   5051374.0                   fkaslana        Fircan Ferdinand
5   5181638.0         anggit_andreansyah      Anggit andreansyah
6   5410562.0           jeni_amanda_ABFC             Jeni Amanda
7   5410865.0  ramadhan_oktarizaldi_02Qj    ramadhan oktarizaldi
8         NaN                        NaN                     NaN
9         NaN                        NaN                     NaN
10        NaN                        NaN                     NaN
11        NaN                        NaN                     NaN
12        NaN                        NaN                     NaN
13        NaN                        NaN                     NaN
14        NaN                     96,989                     NaN
15        NaN                    938,276                     NaN
16        NaN                  5,021,477                     NaN
17        NaN                  5,044,844                     NaN
18        NaN                  5,051,374                     NaN
19        NaN                  5,181,638                     NaN
20        NaN                  5,410,562                     NaN
21        NaN                  5,410,865                     NaN

                                 email         phone  user_role  \
0                   igihcksn@gmail.com  6.281271e+12        2.0
1                  nrizki@dicoding.com  6.287795e+12        2.0
2               rifathali088@gmail.com  6.289662e+12        2.0
3   221113142@students.mikroskil.ac.id  6.282312e+12        2.0
4              kaslanafircan@gmail.com  6.288222e+12        2.0
5       anggitandreansyah119@gmail.com  6.282336e+12        2.0
6                jeniamandaa@gmail.com           NaN        2.0
7               roktarizaldi@gmail.com  6.288202e+12        2.0
8                                  NaN           NaN        NaN
9                                  NaN           NaN        NaN
10                                 NaN           NaN        NaN
11                                 NaN           NaN        NaN
12                                 NaN           NaN        NaN
13                                 NaN           NaN        NaN
14                                 NaN           NaN        NaN
15                                 NaN           NaN        NaN
16                                 NaN           NaN        NaN
17                                 NaN           NaN        NaN
18                                 NaN           NaN        NaN
19                                 NaN           NaN        NaN
20                                 NaN           NaN        NaN
21                                 NaN           NaN        NaN

    user_verification_status          created_at          updated_at  \
0                        1.0 2017-04-03 19:16:35 2025-04-28 11:54:11
1                        1.0 2020-05-28 20:13:50 2025-10-16 10:06:43
2                        1.0 2025-05-26 14:14:10 2025-10-08 13:17:19
3                        1.0 2025-06-25 18:33:44 2025-10-27 14:32:47
4                        1.0 2025-07-02 09:32:47 2025-10-22 15:45:32
5                        1.0 2025-09-27 18:15:41 2025-10-31 09:11:10
6                        1.0 2025-10-31 07:58:24 2025-10-31 08:17:25
7                        1.0 2025-10-31 09:11:12 2025-10-31 09:12:26
8                        NaN                 NaT                 NaT
9                        NaN                 NaT                 NaT
10                       NaN                 NaT                 NaT
11                       NaN                 NaT                 NaT
12                       NaN                 NaT                 NaT
13                       NaN                 NaT                 NaT
14                       NaN                 NaT                 NaT
15                       NaN                 NaT                 NaT
16                       NaN                 NaT                 NaT
17                       NaN                 NaT                 NaT
18                       NaN                 NaT                 NaT
19                       NaN                 NaT                 NaT
20                       NaN                 NaT                 NaT
21                       NaN                 NaT                 NaT

    deleted_at  ... city_id custom_city  \
0          NaN  ...   428.0         NaN
1          NaN  ...    33.0         NaN
2          NaN  ...    22.0         NaN
3          NaN  ...    95.0         NaN
4          NaN  ...    27.0         NaN
5          NaN  ...   664.0         NaN
6          NaN  ...    58.0         NaN
7          NaN  ...   110.0         NaN
8          NaN  ...     NaN         NaN
9          NaN  ...     NaN         NaN
10         NaN  ...     NaN         NaN
11         NaN  ...     NaN         NaN
12         NaN  ...     NaN         NaN
13         NaN  ...     NaN         NaN
14         NaN  ...     NaN         NaN
15         NaN  ...     NaN         NaN
16         NaN  ...     NaN         NaN
17         NaN  ...     NaN         NaN
18         NaN  ...     NaN         NaN
19         NaN  ...     NaN         NaN
20         NaN  ...     NaN         NaN
21         NaN  ...     NaN         NaN

                            unsubscribe_link            tz  \
0   b6b33e749120c67873d2470c6f0abe4627d9573f  Asia/Jakarta
1   0888bc0f357545b41634c2d0adca935bed2599aa  Asia/Jakarta
2   ffb597629e05b0d103b2e1b8e2d1b353bfc924be  Asia/Jakarta
3   36a6c4b52656f79cebb5336f9402e80f119d21df  Asia/Jakarta
4   a134d7263e84720f25c8509c2e1565cc15389f2e  Asia/Jakarta
5   bf9869602fdd118f6fff392d79b0a63d158dad31  Asia/Jakarta
6   71deaacbc5d3cb74fe0f2e7f223333e82e2038d6  Asia/Jakarta
7   ebf6cbe9028da0f3555ccf93da20f21e6b75356f  Asia/Jakarta
8                                        NaN           NaN
9                                        NaN           NaN
10                                       NaN           NaN
11                                       NaN           NaN
12                                       NaN           NaN
13                                       NaN           NaN
14                                       NaN           NaN
15                                       NaN           NaN
16                                       NaN           NaN
17                                       NaN           NaN
18                                       NaN           NaN
19                                       NaN           NaN
20                                       NaN           NaN
21                                       NaN           NaN

           verified_at  ama phone_verification_status phone_verified_with  \
0  2017-04-03 19:23:52  0.0                       0.0                 sms
1  2025-10-16 10:03:27  0.0                       0.0                 sms
2  2025-05-26 14:21:58  0.0                       0.0                 NaN
3  2025-07-04 12:07:17  0.0                       0.0                 NaN
4  2025-07-02 09:49:13  0.0                       0.0                 NaN
5  2025-10-31 09:08:32  0.0                       0.0                 NaN
6  2025-10-31 08:00:17  0.0                       0.0                 NaN
7                  NaT  0.0                       0.0                 NaN
8                  NaT  NaN                       NaN                 NaN
9                  NaT  NaN                       NaN                 NaN
10                 NaT  NaN                       NaN                 NaN
11                 NaT  NaN                       NaN                 NaN
12                 NaT  NaN                       NaN                 NaN
13                 NaT  NaN                       NaN                 NaN
14                 NaT  NaN                       NaN                 NaN
15                 NaT  NaN                       NaN                 NaN
16                 NaT  NaN                       NaN                 NaN
17                 NaT  NaN                       NaN                 NaN
18                 NaT  NaN                       NaN                 NaN
19                 NaT  NaN                       NaN                 NaN
20                 NaT  NaN                       NaN                 NaN
21                 NaT  NaN                       NaN                 NaN

      verified_certificate_name  \
0              Inggih Wicaksono
1        Nur Rizki Adi Prasetyo
2   muhammad rifath ali raharjo
3                   Ledis Idola
4              Fircan Ferdinand
5                           NaN
6                           NaN
7                           NaN
8                           NaN
9                           NaN
10                          NaN
11                          NaN
12                          NaN
13                          NaN
14                          NaN
15                          NaN
16                          NaN
17                          NaN
18                          NaN
19                          NaN
20                          NaN
21                          NaN

                        verified_identity_document
0   202007231120540eb16d37ba8ca22d366c570b0fffd4d3
1   20200720155419385a0bfe7b87200f1542a6e0e5be6d1a
2                                              NaN
3                                              NaN
4                                              NaN
5                                              NaN
6                                              NaN
7                                              NaN
8                                              NaN
9                                              NaN
10                                             NaN
11                                             NaN
12                                             NaN
13                                             NaN
14                                             NaN
15                                             NaN
16                                             NaN
17                                             NaN
18                                             NaN
19                                             NaN
20                                             NaN
21                                             NaN

[22 rows x 23 columns]>
Index(['user_id', 'display_name', 'name', 'email', 'phone', 'user_role',
       'user_verification_status', 'created_at', 'updated_at', 'deleted_at',
       'remember_token', 'image_path', 'city', 'city_id', 'custom_city',
       'unsubscribe_link', 'tz', 'verified_at', 'ama',
       'phone_verification_status', 'phone_verified_with',
       'verified_certificate_name', 'verified_identity_document'],
      dtype='object')

=== exam_result ===
<bound method DataFrame.info of            id  exam_registration_id  total_questions  score  is_passed  \
0       42762                 42482               25     68          0
1       45652                 45362               25     68          0
2       61017                 60627               25     80          1
3       75107                 74687               25     92          1
4      106507                105987               25     76          0
..        ...                   ...              ...    ...        ...
674  57262937              57130760                4    100          1
675  57262916              57130796                4    100          1
676  57263063              57130901                4    100          1
677  57263141              57131015                4    100          1
678  57264653              57131843               20     90          1

             created_at      look_report_at
0   2020-04-14 08:57:50 2020-04-19 19:12:25
1   2020-04-14 23:36:31 2020-04-19 19:12:13
2   2020-04-19 19:32:53 2020-04-19 19:32:55
3   2020-04-24 11:16:01 2020-04-24 11:16:01
4   2020-05-03 14:06:10 2020-05-06 20:09:40
..                  ...                 ...
674 2025-10-31 09:29:19                 NaT
675 2025-10-31 09:28:54                 NaT
676 2025-10-31 09:32:31                 NaT
677 2025-10-31 09:35:05                 NaT
678 2025-10-31 10:29:29                 NaT

[679 rows x 7 columns]>
Index(['id', 'exam_registration_id', 'total_questions', 'score', 'is_passed',
       'created_at', 'look_report_at'],
      dtype='object')

=== exam_regis ===
<bound method DataFrame.info of            id  exam_module_id  tutorial_id  user_id  status  \
0       42482              16         7444    96989       2
1       45362              16         7444    96989       2
2       60627              16         7444    96989       2
3       74687              99         7851    96989       2
4      105987             104         7852    96989       2
..        ...             ...          ...      ...     ...
674  57129524           10793        35393  5410562       2
675  57130151           10798        35418  5410562       2
676  57130649           10818        35463  5410562       2
677  57130760           10808        35503  5410562       2
678  57131843           10813        35513  5410562       2

             created_at          updated_at         deadline_at  \
0   2020-04-14 08:45:03 2020-04-14 23:24:20 2020-04-14 09:15:03
1   2020-04-14 23:24:20 2020-04-19 19:13:48 2020-04-14 23:54:20
2   2020-04-19 19:13:48 2020-04-19 19:13:48 2020-04-19 19:43:48
3   2020-04-24 10:59:40 2020-04-24 10:59:40 2020-04-24 11:29:40
4   2020-05-03 13:39:02 2020-05-06 20:09:54 2020-05-03 14:09:02
..                  ...                 ...                 ...
674 2025-10-31 08:36:54 2025-10-31 08:36:54 2025-10-31 08:41:54
675 2025-10-31 09:03:20 2025-10-31 09:03:20 2025-10-31 09:08:20
676 2025-10-31 09:21:24 2025-10-31 09:21:24 2025-10-31 09:26:24
677 2025-10-31 09:25:02 2025-10-31 09:25:02 2025-10-31 09:30:02
678 2025-10-31 10:02:41 2025-10-31 10:02:41 2025-10-31 10:32:41

        retake_limit_at    exam_finished_at          deleted_at
0   2020-04-14 14:47:50 2020-04-14 08:57:50 2020-04-14 23:24:20
1   2020-04-15 05:26:31 2020-04-14 23:36:31 2020-04-19 19:13:48
2   2020-04-20 01:22:53 2020-04-19 19:32:53                 NaT
3   2020-04-24 17:16:01 2020-04-24 11:16:01                 NaT
4   2020-05-03 20:06:10 2020-05-03 14:06:10 2020-05-06 20:09:54
..                  ...                 ...                 ...
674 2025-10-31 08:42:24 2025-10-31 08:41:24                 NaT
675 2025-10-31 09:07:43 2025-10-31 09:06:43                 NaT
676 2025-10-31 09:25:09 2025-10-31 09:24:09                 NaT
677 2025-10-31 09:30:19 2025-10-31 09:29:19                 NaT
678 2025-10-31 11:29:29 2025-10-31 10:29:29                 NaT

[679 rows x 11 columns]>
Index(['id', 'exam_module_id', 'tutorial_id', 'user_id', 'status',
       'created_at', 'updated_at', 'deadline_at', 'retake_limit_at',
       'exam_finished_at', 'deleted_at'],
      dtype='object')

=== dev_jour ===
<bound method DataFrame.info of      id                                               name  \
0    14               Belajar Fundamental Aplikasi Android
1    51      Belajar Membuat Aplikasi Android untuk Pemula
2    80                  Memulai Pemrograman dengan Kotlin
3    86                  Memulai Pemrograman dengan Python
4   123                      Belajar Dasar Pemrograman Web
..  ...                                                ...
69  831              Belajar Matematika untuk Data Science
70  862                     AI Praktis untuk Produktivitas
71  867                   Belajar Penggunaan Generative AI
72  899   Membangun Aplikasi Gen AI dengan Microsoft Azure
73  902  Belajar Penerapan Data Science dengan Microsof...

                                              summary  point  required_point  \
0   Pelajari skill Android dengan kurikulum terlen...      0            4249
1   Buat aplikasi pertamamu pada Android Studio de...      0             679
2   Pelajari dasar bahasa pemrograman, functional ...      0             879
3   Pelajari dasar Python hingga library populer y...      0             879
4   Pelajari komponen-komponen dasar HTML dan CSS ...      0             879
..                                                ...    ...             ...
69  Pelajari fundamental matematika sebagai fondas...      0            2222
70  Pelajari konsep dasar AI, manfaatkan alat AI, ...      0             679
71  Kuasai generative AI untuk meningkatkan kreati...      0             679
72  Bangun aplikasi chat interaktif dengan languag...      0            1119
73  Pelajari data science end-to-end di Microsoft ...      0            1119

      xp  required_xp  difficulty  \
0   2200            0           2
1    400            0           1
2    400            0           0
3    879            0           0
4    400            0           0
..   ...          ...         ...
69  2222            0           0
70   679            0           0
71   679            0           0
72  1119            0           0
73  1119            0           0

                                           image_path  status  ...  discount  \
0   belajar_fundamental_aplikasi_android_image_171...       1  ...         0
1   belajar_membuat_aplikasi_android_untuk_pemula_...       1  ...         0
2   memulai_pemrograman_dengan_kotlin_image_171120...       1  ...         0
3   dos:memulai_pemrograman_dengan_python_image_14...       1  ...         0
4   dos-belajar_dasar_pemrograman_web_image_051124...       1  ...         0
..                                                ...     ...  ...       ...
69  dos-belajar_matematika_untuk_data_science_imag...       1  ...         0
70  dos-ai_praktis_untuk_produktivitas_image_20042...       1  ...         0
71  dos-belajar_penggunaan_generative_ai_image_200...       1  ...         0
72  dos-membangun_aplikasi_gen_ai_dengan_microsoft...       1  ...         0
73  dos-belajar_penerapan_data_science_dengan_micr...       1  ...         0

      discount_ends_at                                        media_cover  \
0  2018-04-18 23:59:00  belajar_fundamental_aplikasi_android_mc_230421...
1  2017-09-06 00:00:00  belajar_membuat_aplikasi_android_untuk_pemula_...
2                  NaT  memulai_pemrograman_dengan_kotlin_mc_230421143...
3                  NaT  dos:memulai_pemrograman_dengan_python_mc_14082...
4                  NaT  dos-belajar_dasar_pemrograman_web_mc_051124100...
..                 ...                                                ...
69                 NaT  dos-belajar_matematika_untuk_data_science_mc_0...
70                 NaT  dos-ai_praktis_untuk_produktivitas_mc_20042504...
71                 NaT  dos-belajar_penggunaan_generative_ai_mc_200425...
72                 NaT  dos-membangun_aplikasi_gen_ai_dengan_microsoft...
73                 NaT                                                NaN

   installment_plan_id graduation  position  hours_to_study  video_subtitle  \
0                 24.0          1      73.0             140             NaN
1                  NaN          1      70.0              60             NaN
2                  NaN          1      67.0              50             NaN
3                  NaN          1      61.0              60             NaN
4                  NaN          1      91.0              45             NaN
..                 ...        ...       ...             ...             ...
69                 NaN          1       NaN              70             NaN
70                 NaN          1       NaN              20             NaN
71                 NaN          1       NaN              30             NaN
72                 NaN          1       NaN               8             NaN
73                 NaN          1       NaN               6             NaN


In [ ]:
# Daftar semua DataFrame yang memiliki kolom tanggal/waktu
dfs_to_process = [
    users, exam_result, exam_regis, dev_jour_track, dev_jour_sub,
    dev_jour_complet, dev_jour_tutor
]

# Daftar kolom yang kita yakini berisi data waktu
date_cols_generic = [
    'created_at', 'updated_at', 'deleted_at', 'verified_at',
    'enrollments_at', 'last_enrolled_at', 'started_review_at',
    'ended_review_at', 'first_opened_at', 'last_viewed',
    'completed_at', 'deadline_at', 'retake_limit_at',
    'exam_finished_at', 'look_report_at'
]

print("\n--- Mulai Konversi Tipe Data Waktu ---")

for i, df in enumerate(dfs_to_process):
    df_name = files[i][0]

    for col in date_cols_generic:
        if col in df.columns:
            # errors='coerce' akan mengubah nilai yang tidak valid menjadi NaT (Not a Time)
            df[col] = pd.to_datetime(df[col], errors='coerce')

    # Konversi spesifik submission_duration, study_duration, dll. jika ada
    # Asumsi: Kolom skor/durasi numerik sudah terformat (decimal(12,2))
    if 'score' in df.columns:
        df['score_numeric'] = pd.to_numeric(df['score'], errors='coerce')
        df['score_numeric'].fillna(0, inplace=True) # Isi NaN skor dengan 0

    print(f"Konversi datetime selesai untuk {df_name}.")

print("✅ Konversi Tipe Data Waktu selesai.")

--- Mulai Konversi Tipe Data Waktu ---
Konversi datetime selesai untuk users.
Konversi datetime selesai untuk exam_result.
Konversi datetime selesai untuk exam_regis.
Konversi datetime selesai untuk dev_jour.
Konversi datetime selesai untuk dev_jour_track.
Konversi datetime selesai untuk dev_jour_sub.
Konversi datetime selesai untuk dev_jour_complet.
✅ Konversi Tipe Data Waktu selesai.

/tmp/ipython-input-3852893279.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['score_numeric'].fillna(0, inplace=True) # Isi NaN skor dengan 0
/tmp/ipython-input-3852893279.py:24: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce')
/tmp/ipython-input-3852893279.py:24: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df[col] = pd.to_datetime(df[col], errors='coerce')

In [ ]:
try:
    # Coba filter berdasarkan nilai numerik 2
    users_filtered = users[users['user_role'] == 2].copy()
    print(f"\nJumlah pengguna sebelum filter: {len(users)}")
    print(f"Jumlah Siswa (user_role = 2) setelah filter: {len(users_filtered)}")

except KeyError:
    # Jika kolom user_role berisi string (misalnya 'Siswa')
    users_filtered = users[users['user_role'] == 'Siswa'].copy()
    print(f"\nJumlah pengguna sebelum filter: {len(users)}")
    print(f"Jumlah Siswa (user_role = 'Siswa') setelah filter: {len(users_filtered)}")

# Update DataFrame users ke versi yang sudah difilter
users = users_filtered
print("✅ Pemfilteran peran selesai.")

Jumlah pengguna sebelum filter: 22
Jumlah Siswa (user_role = 2) setelah filter: 8
✅ Pemfilteran peran selesai.

In [ ]:
# 1. Cek Dataframe Users (Pastikan 'user_id' dan 'created_at' sudah benar)
print("--- 👤 Verifikasi Data Users ---")
print(users.info())
print("\nContoh Kolom User ID:")
print(users[['user_id', 'user_role']].head(3))
print("------------------------------")


# 2. Cek Dataframe Tracking (Pastikan 'user_id', 'journey_id', dan kolom waktu sudah benar)
print("--- 🧭 Verifikasi Data Trackings ---")
print(dev_jour_track.info())
print("\nContoh Kolom Waktu di Trackings:")
# Tampilkan kolom 'first_opened_at' atau 'last_viewed'
print(dev_jour_track[['user_id', 'first_opened_at', 'last_viewed']].head(3))
print("-----------------------------------")

--- 👤 Verifikasi Data Users ---
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 0 to 7
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   user_id                     8 non-null      float64
 1   display_name                8 non-null      object
 2   name                        8 non-null      object
 3   email                       8 non-null      object
 4   phone                       7 non-null      float64
 5   user_role                   8 non-null      float64
 6   user_verification_status    8 non-null      float64
 7   created_at                  8 non-null      datetime64[ns]
 8   updated_at                  8 non-null      datetime64[ns]
 9   deleted_at                  0 non-null      datetime64[ns]
 10  remember_token              5 non-null      object
 11  image_path                  8 non-null      object
 12  city                        0 non-null      float64
 13  city_id                     8 non-null      float64
 14  custom_city                 0 non-null      float64
 15  unsubscribe_link            8 non-null      object
 16  tz                          8 non-null      object
 17  verified_at                 7 non-null      datetime64[ns]
 18  ama                         8 non-null      float64
 19  phone_verification_status   8 non-null      float64
 20  phone_verified_with         2 non-null      object
 21  verified_certificate_name   5 non-null      object
 22  verified_identity_document  2 non-null      object
dtypes: datetime64[ns](4), float64(9), object(10)
memory usage: 1.5+ KB
None

Contoh Kolom User ID:
     user_id  user_role
0    96989.0        2.0
1   938276.0        2.0
2  5021477.0        2.0
------------------------------
--- 🧭 Verifikasi Data Trackings ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6641 entries, 0 to 6640
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             6641 non-null   int64
 1   journey_id                     6641 non-null   int64
 2   tutorial_id                    6641 non-null   int64
 3   user_id                        6641 non-null   int64
 4   status                         6641 non-null   int64
 5   last_viewed                    6641 non-null   datetime64[ns]
 6   first_opened_at                3915 non-null   datetime64[ns]
 7   completed_at                   5121 non-null   datetime64[ns]
 8   developer_journey_status_hash  6641 non-null   object
dtypes: datetime64[ns](3), int64(5), object(1)
memory usage: 467.1+ KB
None

Contoh Kolom Waktu di Trackings:
   user_id     first_opened_at         last_viewed
0    96989                 NaT 2017-05-26 21:34:02
1    96989                 NaT 2017-05-26 21:35:05
2    96989 2018-08-29 11:19:41 2020-04-08 20:59:59
-----------------------------------

In [ ]:
# Uji Coba: Gabungkan Users dengan Trackings
# Pilih kolom user_id dan user_role dari users
df_test = users[['user_id', 'user_role']].copy()

# Gabungkan dengan jumlah total trackings per user
df_track_count = dev_jour_track.groupby('user_id')['id'].count().reset_index()
df_track_count.rename(columns={'id': 'total_tracks'}, inplace=True)

# Lakukan Left Merge
df_merged_test = df_test.merge(df_track_count, on='user_id', how='left')

print("\n--- 🧪 Uji Coba Penggabungan Dasar (Users + Trackings) ---")
print(f"Jumlah baris Users awal: {len(users)}")
print(f"Jumlah baris setelah merge: {len(df_merged_test)}")
print(df_merged_test.head())
print("---------------------------------------------------------")

--- 🧪 Uji Coba Penggabungan Dasar (Users + Trackings) ---
Jumlah baris Users awal: 8
Jumlah baris setelah merge: 8
     user_id  user_role  total_tracks
0    96989.0        2.0          3069
1   938276.0        2.0          2205
2  5021477.0        2.0           187
3  5044844.0        2.0           960
4  5051374.0        2.0           157
---------------------------------------------------------

In [ ]:
# Pastikan kita menggunakan user_id dari Users yang sudah difilter
df_master = users[['user_id', 'created_at']].copy()
# Kita akan merge semua agregasi ke df_master ini

# Gabungkan exam_result dan exam_regis menggunakan exam_registration_id
df_exam = exam_regis.merge(exam_result, left_on='id', right_on='exam_registration_id', how='inner')
df_exam.rename(columns={'examinees_id': 'user_id', 'created_at_x': 'reg_date'}, inplace=True)

# Agregasi ke level Siswa: Ambil skor tertinggi dan total ujian yang diambil
df_exam_agg = df_exam.groupby('user_id').agg(
    highest_score=('score_numeric', 'max'),
    total_exams=('id_x', 'count'),
    first_exam_reg_date=('reg_date', 'min')
).reset_index()

df_master = df_master.merge(df_exam_agg, on='user_id', how='left')

In [ ]:
df_tracking_agg = dev_jour_track.groupby('user_id').agg(
    total_tracks=('id', 'count'),
    days_active=('last_viewed', lambda x: x.dt.date.nunique()),
    first_activity=('first_opened_at', 'min'),
    last_activity=('last_viewed', 'max')
).reset_index()

df_master = df_master.merge(df_tracking_agg, on='user_id', how='left')

# Fitur Konsistensi Dasar
df_master['active_duration_days'] = (df_master['last_activity'] - df_master['first_activity']).dt.days.fillna(0)
# Hindari pembagian dengan nol
df_master['consistency_score'] = df_master['days_active'] / df_master['active_duration_days'].replace(0, 1)

In [ ]:
# Hitung Submission Sukses ('diterima' = 1, 'ditolak' = 0)
dev_jour_sub['is_successful'] = np.where(dev_jour_sub['status'] == 'diterima', 1, 0)

df_sub_agg = dev_jour_sub.groupby('user_id').agg(
    num_submissions=('id', 'count'),
    successful_submissions=('is_successful', 'sum'),
    avg_submission_rating=('rating', 'mean'),
    first_submission=('created_at', 'min')
).reset_index()

df_master = df_master.merge(df_sub_agg, on='user_id', how='left', suffixes=('_exam', '_sub'))

# Fitur Refleksi dan Kecepatan
df_master['submission_success_ratio'] = (df_master['successful_submissions_sub'] / df_master['num_submissions_sub']).fillna(0)
df_master['revisiting_ratio'] = df_master['num_submissions_sub'] / df_master['days_active'].replace(0, 1)

# Kecepatan: Waktu yang dibutuhkan untuk submission pertama (dari pendaftaran)
df_master['time_to_first_submit_days'] = (df_master['first_submission_sub'] - df_master['created_at']).dt.days.fillna(0)

print("\n--- Updated df_master with Submission Features ---")
display(df_master.head())
print("----------------------------------------------------")

KeyError: 'successful_submissions_sub'

In [ ]:
# Kolom yang hanya berisi NaN jika siswa tidak aktif/submit
cols_to_fill_zero = ['highest_score', 'total_exams', 'total_tracks', 'days_active',
                     'num_submissions_sub', 'successful_submissions_sub', 'avg_submission_rating_sub']

df_master[cols_to_fill_zero] = df_master[cols_to_fill_zero].fillna(0)

# Hapus kolom waktu mentah
cols_to_drop = ['created_at', 'first_activity', 'last_activity', 'first_submission_sub', 'first_exam_reg_date']
df_master.drop(columns=[col for col in cols_to_drop if col in df_master.columns], inplace=True)

print("✅ Feature Engineering Selesai. df_master siap untuk Pelabelan.")
print(df_master.head())

In [ ]:
# Hitung ambang batas berdasarkan data yang ada
Q25_speed = df_master['time_to_first_submit_days'].quantile(0.25)
Q75_consistency = df_master['consistency_score'].quantile(0.75)
Q75_revisit = df_master['revisiting_ratio'].quantile(0.75)

# Ambang batas Skor (dapat disesuaikan)
SCORE_HIGH_THRESHOLD = 80
SCORE_MID_THRESHOLD = 60

In [ ]:
def label_learner_type(row):
    # Kriteria 1: Fast Learner (Sangat Cepat DAN Skor Tinggi)
    # Waktu submit kecil (cepat) AND Skor tinggi
    if (row['time_to_first_submit_days'] <= Q25_speed) and (row['highest_score'] >= SCORE_HIGH_THRESHOLD):
        return 'Fast Learner'

    # Kriteria 2: Consistent Learner (Sangat Konsisten DAN Skor Menengah/Baik)
    # Konsistensi tinggi AND Skor di atas batas tengah
    elif (row['consistency_score'] >= Q75_consistency) and (row['highest_score'] >= SCORE_MID_THRESHOLD):
        return 'Consistent Learner'

    # Kriteria 3: Reflective Learner (Revisi Tinggi/Sering Coba DAN Skor Menengah/Baik)
    # Rasio revisit tinggi AND Rasio sukses submission cukup baik
    elif (row['revisiting_ratio'] >= Q75_revisit) and (row['submission_success_ratio'] > 0.5) and (row['highest_score'] >= SCORE_MID_THRESHOLD):
        return 'Reflective Learner'

    else:
        return 'Other Learner'

# Terapkan fungsi untuk membuat kolom target 'learner_type'
df_master['learner_type'] = df_master.apply(label_learner_type, axis=1)

print("\n--- Distribusi Kelas Target ---")
print(df_master['learner_type'].value_counts())

In [ ]:
users.merge(dev_jour_complet, left_on='id', right_on='user_id', how='left').merge(dev_jour_track, left_on='id', right_on='developer_id', how='left').merge(dev_jour_sub, left_on='id', right_on='submitter_id', how='left').merge(exam_regis, left_on='id', right_on='examinees_id', how='left').merge(exam_result, left_on='id_y', right_on='exam_registration_id', how='left')